html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Paytone One', sans-serif;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  max-height: 800px;
  margin-top: 50px;
  min-height: 80vh;
  background-color: #F4B4D7;
  width: 100%;
}

.instruction-box {
  width: 700px;
  text-align: center;
  height: 400px;
}

p{
  font-size: 1.3rem;
  margin-bottom: 1rem;
  width: 750px;
  text-align: center;
}

.punctuations-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
}

.points-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 70px;
  grid-column-gap: 50px;
}

.points {
  vertical-align: middle;
  line-height: 110px;
  font-size: 3rem;
}
.sum-points {
  vertical-align: middle;
  line-height: 110px;
  font-size: 1.5rem;
}

.bluebox-demo {
 background-image: url('../imagenes/blue.png');
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
}

.yellowbox-demo {
  background-image: url('../imagenes/yellow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
 }

 .pinkbox-demo {
  background-image: url('../imagenes/pink.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
 }


.game-box {
  width: 700px;
  text-align: center;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 50px;

}

.high-score {
  text-align: center;
  font-size: 2rem;
  display: flex;
}

.user-score {
  text-align: center;
  font-size: 2rem;
  display: flex;
}

.max-score {
  margin-left: 1rem;
  color: white;
  font-size: 2.3rem;
}

.your-score {
  margin-left: 1rem;
  color: white;
  font-size: 2.3rem;
}

h1 {  
  color: white;
  font-size: 5rem;
  line-height: 0px;
}

h2 {  
  color: white;
  font-size: 3rem;
  line-height: 0px;
}

#container a{
  color: black;
  background-color: rgb(255,255,255, 0.7);
  border-radius: 10px;
  height: 50px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  width: 200px;
  padding-top: 4px; 
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 30px;
}

.count-down {
  color: white;
  font-size: 4rem;
  margin-bottom: 20px;
}

.colour-box {;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  border-radius: 5px;
}


.box {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  transition: all 0.3s;
}
.box:hover {
  transform: scale(1.2);
}


.pentagon {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  transition: all 1s;
}
.pentagon:hover {
  transform: scale(1.2);
}


.hexagon {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  transition: all 0.3s;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon:hover {
  transform: scale(1.2);
}

.rhombus {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  transition: all 0.3s;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.rhombus:hover {
  transform: scale(1.2);
}

.parallelo {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  transition: all 0.3s;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.parallelo:hover {
  transform: scale(1.2);
}

.trapezo {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  transition: all 0.3s;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.trapezo:hover {
  transform: scale(1.2);
}

.start {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  transition: all 0.3s;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.start:hover {
  transform: scale(1.2);
}

.right-arrow {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  transition: all 0.3s;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.right-arrow:hover {
  transform: scale(1.2);
}

.left-arrow {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  transition: all 0.3s;
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.left-arrow:hover {
  transform: scale(1.2);
}

.cross {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  background-color: white;
  transition: all 0.3s;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.cross:hover {
  transform: scale(1.2);
}

.pink-box {
  background-color: rgb(255,20,147);
}

.blue-box {
  background-color: rgb(0,191,255);
}

.yellow-box {
  background-color: rgb(255,255,0);
}

